@font-face {
  font-family: "kazuo";
  src: url("../fonts/Kazuo.ttf");
}

body {
  font-family: "kazuo";
  background-color: #fff;
  color: #0d0d0d;
  height: 100%;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100%;
}
